* {
    box-sizing: border-box;
}

body {
    background-image: url("palii.jpg");
    background: #FEFEFE;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
}

main {
    max-width: 70%;
    margin: auto;
}


header {
    font-size: 18pt;
    margin: auto;
    border-bottom: 1000px;
}


footer{
    max-width: 68%;
    margin: auto;
}



h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    margin-bottom: 30px;
    border-bottom: 1000px;
    font-style: italic;
}

p {
    font-size: 15pt;
    line-height: 2;
}


.static-form {
    max-width: 300px;
}



label {
    font-weight: bold;
}

.static-form .form-control{
    width: 100%;
    color: green !important;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    -moz-border-radius: 10px;
    border-radius: 10px;
       border:solid 1px black;

}

.form-group .btn-default {
    border: none;
    color: green !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.is-palindrome {

    max-width: 20000px;
    color: #0000FF;
} 

.not-palindrome {
    max-width: 20000px;
    color: #FF0000;
}